h2{
  color:#1a9000;
}
hr{
height: 3px;
background-color: #ffdf7f;
border: 0;
}
header{
text-align: center;
background-color: #a30707;
}
h3{
  font-style: italic;
}
.scatola{
  width: 80%;
  margin: auto;
  border: 2px solid black;
  border-radius: 1%;
}
#cuore{
  color: red;
}
